/* Color Portfolio created by https://coolors.co/ */
:root{
    --pale-spring-bud: #F4F7BE;
    --gold-crayola: #DEBA6F;
    --solid-pink: #823038;
    --xiketic: #1E000E;
    --white: #fff;
}
h2{
    font-size: 30px;
}
header a{
    font-size: 20px;
    font-weight: bold;
}
header p{
    font-size: 30px;
    font-weight: bold;
}



body{
    background-color: var(--gold-crayola);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 20px;
}

.navbar{
    background-color: var(--solid-pink);
    overflow: hidden;
    color: var(--white);
}
.navbar a{
    color: var(--white);
}
.navbar a:hover {
    background-color: var(--pale-spring-bud);
    color: var(--xiketic);
  }

#nameplate{
    text-align: center;
    float: left;
    padding: 14px 16px;
}

.right{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#portrait{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
}
.sidebar{
    text-decoration: underline;
    line-height: 2;
}
.work-sidebar{
    text-decoration: underline;
    line-height: 2;
}

.card {
    position: relative;
    color: black;
  }

.card div a{
    background-color: var(--solid-pink);
    color:var(--white);
    line-height: 2;
    text-decoration: none;
    padding: 2px;
    border-radius: 8px;
}

.bottom-left {
    position: absolute;
    bottom: 16px;
    left: 12px;
  }
.bottom-right {
    position: absolute;
    bottom: 16px;
    right: 12px;
  }
.flex {
      display:flex;
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
      margin-bottom: 50px;
  }
.centered-text{
      text-align: center;
  }

@media screen and (min-width: 768px) {
.float-left{
    float: left;
    height: 40px;
    width: 100px;
    border-right: 5px solid var(--xiketic);
    margin-right: 10px;
    padding: 15px;
}
#about-me{
    height: 200px;
}
.sidebar{
    height: 75%;
    line-height: 1;
}
.work-sidebar{
    height: 300px;
    line-height: 1;
}
.flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 100px 50px 200px;   
    }  
.big-item{
    flex: 2 0 100%;
}

.little-item{
    flex: 1 0 50%;
}
#Contact-Me{
    height: 200px;
}
.contact-links{
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;  
}
#Resume{
    height: 200px;
    margin: 20px 0;
}
#Resume a{
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

}
@media screen and (min-width: 992px) {
.big-item{
    flex: 2 0 100%;
}

.little-item{
    flex: 1 0 33%;
}
}