.navbar{
    
}

#portrait{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card {
    position: relative;
    color: black;
  }

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
.flex {
      display:flex;
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
  }
.centered-text{
      text-align: center;
  }
